p {
    color: blue;
    font-size: 24px;
}

#para1 {
    border: 1px solid black;
}

.para {
    border: 1px dotted black;
}
.red {
    color: red;
}
 * {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }